/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #455bad;
}
.navbar-list {
    list-style: none;
    margin: 0;
}
.navbar-item {
    position: relative;
    float:left;
    padding: 10px 25px;
    font-size: 1.5rem;
    font-weight: 400;
}
ul {
    list-style: none;
}  

a {
    text-decoration: none;
}
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heropic {
    max-width: 100%;
    background-size: contain;
}
/* about
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about { 
    margin-top: 10%;
    margin-bottom: 10%;
}
.abouttext {
    padding: 20%;
    text-align: center;
}

.fishbookabout {
    max-width: 100%;
    margin-left: 0;
}

/* Divider1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.divider1 {
    background-image: url("../images/background.png");
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 5%;
}
.fishbookinside {
    display: block;
    margin: auto;
    width: 50%;
}
.swimtext {
    margin: 5%;
}
/* fisherman
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fisherman { 
    text-align: center;    
}
.encounter {
    margin-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}
.fishermanpic {
    max-width: 100%;
    padding-top: 10%;
    align-content: center;
}
.fishandflypic {
   max-width: 100%;
   align-content: center;
   }

.learntext {
    margin-top: 35%;
    text-align: center;
}
.fishandfly {
    margin-bottom: 10%;
}
/* Divider2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.divider2 {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #ffffff;
    padding: 7.5%;
    text-align: center;
}

/* Buy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.buy {
  padding: 10%;
  text-align: center;
  color: #55e0e5;
}
.purchase {
  padding-top: 15%;    
  align-content: center;
  line-height: 2.8rem;
  color: #455bad;
}
.cover {
  position: relative;
  align-content: center;
  border: 3rem solid #455bad;
}


/* AboutAI
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aboutai {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #ffffff;
}

.aitext {
  text-align: center;
  padding: 5%;
}
.abouta {
    padding-right: 5%;
}
.abouti {
    padding-left: 5%;
}
.buttons {
    position: relative;
    bottom: 0;
    left: 0; right: 0;
    text-align: center;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    font-size: .5rem;
    font-weight: 200;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 2%;
    margin: 0;
    position: relative;
}

.sun {
    float: left;
}

.text {
font-family: 'Dancing Script', cursive;
font-family: 'Ledger', serif;
}

/* CCForm
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ccform {
  background-image: url("../images/background.png");
  background-size: cover;
  color: #455bad;
  text-align: center;
  padding: 10%;
}
.paycard {
    margin: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    padding: 5%;
    box-shadow: 2rem;
}
.payherocontainer {
    margin-bottom: 4rem;
}
.paycover {
  align-content: center;
  border: 20px solid #455bad;
}

.label {
    color: #ffffff;
} 
.securitycodeInput {
    font-size: 30%;
}
/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  background-image: url("../images/authorbkgrnd.png");
  background-size: cover;
  color: #455bad;
  text-align: center;
  padding: 10%;
}
.contactcard {
    margin: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    padding: 5%;
    box-shadow: 2rem;
}
.homebtn .sun {
    align-content: center;
    float: inherit;
}